common: &COMMON
  common_key: common_value

development:
  <<: *COMMON
  secret_token: <%=config[:vars][:tokens][:development] %>

test:
  <<: *COMMON
  secret_token: <%=config[:vars][:tokens][:test] %>

production:
  <<: *COMMON
  secret_token: <%=config[:vars][:tokens][:production] %>
