development:
  secret_token: <%=config[:vars][:tokens][:development] %>

test:
  secret_token: <%=config[:vars][:tokens][:test] %>

production:
  secret_token: <%=config[:vars][:tokens][:production] %>
